// footer styles
footer {
    display: flex;
    justify-content: center;
    height: 6vh;
    background-color: $secondary;
    font-family: 'Press Start 2P', cursive;
}

// footer anchor styles
footer a {
    text-decoration: none;
    color: $tertiary;
}