$primary: #23395B;
$secondary: #04132A;
$tertiary: #FFFFFF;

.wrapper {
    max-width: 1450px;
    width: 80%;
    margin: 0 auto;
}

.contentWrapper {
    max-width: 1450px;
    width: 80%;
    margin: 0 auto;  
}