// colour variables styles
$primary: #23395B;
$secondary: #04132A;
$tertiary: #FFFFFF;
$quaternary: #FCA417;
$quinary: #FF0000;

body,
a {
   color: $tertiary; 
}

// html stripping styles
html {
    padding: 0;
    margin: 0;
}

// body styles
body {
    font-family: 'Lato', sans-serif;
}

// wrapper styles
.wrapper,
.searchBarWrapper {
    width: 80%;
    margin: 0 auto;  
}

.wrapper {
    max-width: 1450px;
}

.searchBarWrapper {
    max-width: 800px;
}

// anchor styles
a {
    padding-top: 5px;
}

a:hover, 
a:focus {
    color: $quaternary;
}

a:active {
    color: $quinary;
}

// anchor and paragraph styles
a, 
p {
    line-height: 27px;
}