$primary: #23395B;
$secondary: #04132A;
$tertiary: #FFFFFF;

.wrapper {
    max-width: 1450px;
    width: 80%;
    margin: 0 auto;
}

.contentWrapper {
    max-width: 1450px;
    width: 80%;
    margin: 0 auto;  
}

a {
    text-decoration: none;
    color: #3CAEA3;
    padding-top: 5px;
}

a, 
p {
    line-height: 27px;
}