main {
    height: 100vh;
    background-color: $primary;
}

form {
    display: flex;
    justify-content: center;
    padding: 50px 0;
    position: relative;
}

input[type="search"] {
    padding: 15px;
    width: 100%;
    font-size: 24px;
}

button {
    padding: 15px 30px;
}

.gameCardContainer {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

ul {
    width: calc(100% / 3);
    padding: 6px 20px;
}

li {
    background-color: $secondary;
    display: flex;
    flex-direction: column;
    justify-content: center;
    list-style: none;
    border: $secondary 2px solid;
    padding: 10px;
    text-align: center;
}

img {
    height: 100px;
}

i.fa-search {
    color: $primary;
    position: absolute;
    right: 16px;
    top: 63px;
    font-size: 35px;
}

.gameboyImg {
    height: 800px;
}