// media (max-width: 920px) styles
@media (max-width: 920px) {
    footer p {
        font-size: 10px;
        padding-top: 5px;
    }
}

// media (max-width: 630px) styles
@media (max-width: 630px) {

    h1 {
        font-size: 25px;
        padding-top: 15px;
    }

    form {
        flex-wrap: wrap;
    }

    input[type="search"] {
        text-align: center;
    }

    button {
        width: 100%;
        padding: 11px 30px;
    }

    i.fa-search {
        position: static;
    }

    .gameboyImg {
        translate: 10px 0;
    }
}

// media (max-width: 450px) styles
@media (max-width: 450px) {
    h1 {
        font-size: 18px;
        padding-top: 22px;
    }
    
    footer p {
        font-size: 8px;
    }
}

// media (max-width: 330px) styles
@media (max-width: 330px) {
    footer p {
        font-size: 7px;
    }
}