    // font-family: 'Lato', sans-serif;
    // font-family: 'Press Start 2P', cursive;


body {
    color: $tertiary;
    font-family: 'Lato', sans-serif;
}

h1 {
    font-family: 'Press Start 2P', cursive;
}

h2 {
    text-align: center;
}

p {
    font-size: 20px;
}